---
permalink: /js/slideList.json
---
[
  {%- for item in collections.slides %}{
    "filename": "{{ item.fileSlug }}",
    "title": "{{item.data.title}}" }
{% if item.fileSlug!=='demo' or not loop.last %},{% endif %}
{%- endfor %}]